$$ \frac{\partial T}{\partial t} = \frac{1}{\rho C_p} \left[ \frac{\partial }{\partial x_n} \lambda \left( \frac{\partial T}{\partial x_n} \right) \right] $$

$$ \frac{ \rho C_P}{k} \frac{\partial T}{\partial t} = \frac{\partial ^2 T}{\partial x^2} $$

$T(x_{i+1})=T(x_i)+\dfrac{\delta x F(x_i)}{k}$

In [4]:
import pandas as pd
import numpy as np

In [5]:
def readDatafile(datafile):
    df1 = pd.read_csv(datafile + ".txt", skiprows= 8, sep=r'\s{2,}', engine='python', header=None )
    df1[0] = df1[0].round(3)
    df1.set_index(0, inplace = True)
    df1.index.name = 'Time'
    df1.columns = [datafile]
    daterng = pd.date_range(start = '2019-11-15', periods =df1.size,freq='50ms')
    df1['date'] = daterng
    df1.set_index('date', inplace=True)
    df1 = df1.resample('1ms').interpolate('cubic')
    return df1

In [28]:
df1 = readDatafile("cooledVariable")
df2 = readDatafile("middle")
df3 = readDatafile("measureVariable")
df4 = readDatafile("1mmAbove")
df5 = readDatafile("1mmbelov")

In [29]:
result = pd.concat([df1,df2,df3, df4, df5], axis=1, sort=False)

In [30]:
result

,cooledVariable,middle,measureVariable,1mmAbove,1mmbelov
date,,,,,
2019-11-15 00:00:00.000,1123.150000,1123.150000,1123.150000,1123.150000,1123.150000
2019-11-15 00:00:00.001,1123.158943,1123.152053,1123.150120,1123.150766,1123.150677
2019-11-15 00:00:00.002,1123.167345,1123.153983,1123.150233,1123.151486,1123.151314
2019-11-15 00:00:00.003,1123.175217,1123.155790,1123.150339,1123.152161,1123.151910
2019-11-15 00:00:00.004,1123.182567,1123.157478,1123.150438,1123.152791,1123.152467
...,...,...,...,...,...
2019-11-15 00:00:01.496,476.065469,476.068536,476.065469,476.068532,476.068533
2019-11-15 00:00:01.497,476.065469,476.068536,476.065469,476.068532,476.068533
2019-11-15 00:00:01.498,476.065469,476.068536,476.065469,476.068531,476.068533
2019-11-15 00:00:01.499,476.065469,476.068536,476.065469,476.068531,476.068533
2019-11-15 00:00:01.500,476.065469,476.068536,476.065469,476.068531,476.068532

In [32]:
#  result.to_csv('dataPointsVariable.csv', index=False )

In [33]:
dfCross = pd.read_csv('crossSection-07-kelvin.txt',  skiprows= 8, sep=r'\s{2,}', engine='python', header=None)
dfCross2 = pd.read_csv('crossSection-07-const.txt',  skiprows= 8, sep=r'\s{2,}', engine='python', header=None)
dfCross[2] = dfCross2[1]

In [34]:
dfCross[[1,2]].to_csv('CrossS.csv', header = False)

In [26]:
dfCross

          0           1           2
0  0.000000  507.806048  522.927602
1  0.000125  507.804613  522.271834
2  0.000249  507.800311  520.312736
3  0.000374  507.793110  517.058861
4  0.000499  507.783023  512.555002
5  0.000624  507.770032  506.847886
6  0.000749  507.754147  500.013066
7  0.000875  507.735306  492.109528
8  0.001000  507.713556  483.260974